*{ 
    padding: 0;
    margin: 0;
}
*::before,
*::after{ 
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}

@font-face {
    font-family: hola;
    src: url(imginicio/Buried\ Hopper.ttf); 
}
/* CELULAR VERTICAL */
@media (max-width:750px) {
    .header{
        background-color: rgba(1, 1, 1,); /* intertar arrlegar esa garcha*/
        display: flex; 
        margin: 0 ;
        padding: 0; 
        box-sizing: inherit;
        position: fixed;
        background-color: rgba(1, 1, 1, 0.5);
        top: 0;
        left: 0;
        right: 0;
        padding: 0 3em;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        z-index: 1000;  
    } 
    .logo img{
        height: 4em;
        width: 5em; 
        margin-left: 0;  
        display: flex;  
    }
    .slider-box img {  
        width: 100%; 
        height: 100vh;
        max-width: 100%;   
        background: url(imginicio/7.jpg); 
        position: relative;
    }   
    .sec1{
        background-color: #fff;
        display: flex;
        top: 9em;
        position: absolute;
        height: 35vh;
        width: 35vw;
        border-radius: 5%;
        right: 1.5em;
    
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        top: 9em;
        position: absolute;
        height: 35vh;
        width: 35vw;
        border-radius: 5%;
        margin-left: 1.5em;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 2em;
        position: absolute;
        height: 35vh;
        width: 35vw;
        border-radius: 5%;
        left:1.5em;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 2em;
        position: absolute;
        height: 35vh;
        width: 35vw;
        border-radius: 5%;
        right: 1.5em;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
} 
/*TABLET */
@media (min-width:751px) and (max-width:1279px) {  
    .header {
        position: fixed;
        background-color: rgba(1, 1, 1, 0.5);
        top: 0;
        left: 0;
        right: 0;
        padding: 0px 3em;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        z-index: 1000;  
        box-sizing: inherit; 
    }
    .logo img{
        height: 4em;
        width: 5em; 
        display:flex; 
        padding: 0 50px 0 30px;
    }  
    /*CARRUSEL*/
    #toggle
    .slider-box{ 
        width: 100%;
        height: 100vh;
        margin: 0;
    }

    .slider-box ul{
        display:flex;
        padding: 0;
        width: 400%;
        animation:slide 15s infinite alternate ease-in-out;
    }

    .slider-box li{
        width: 100%;
        list-style: none;
        position:relative;
    }

    .slider-box img{
        width: 100%;
        height: 100vh;
    } 


    @keyframes slide {
        0% { margin-left: 0; }
        20% { margin-left: 0; }

        25% { margin-left: -100%;}
        45% { margin-left: -100%;}

        50% { margin-left: -200%;}
        70% { margin-left: -200%;}

        75% { margin-left: -300%;}
        100% { margin-left: -300%;}
    } 
    .sec1{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 28%;
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left:0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 2.5%;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left:53%;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 77.5%;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
}
/*computadora */ 
@media (min-width:1280px) {  
    .header{ 
        position: fixed;
        background-color: rgba(1, 1, 1, 0.5);
        top: 0;
        left: 0;
        right: 0;
        padding: 0 3em;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        z-index: 1000;  
        box-sizing: inherit;  
    }
    .logo img{
        height: 4em;
        width: 5em; 
        display:flex;  
       
    }
    /*CARRUSEL*/
    #toggle
    .slider-box{ 
        width: 100%;
        height: 100vh;
        margin: 50px auto 0;
    }

    .slider-box ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation:slide 15s infinite alternate ease-in-out;
    }

    .slider-box li{
        width: 100%;
        list-style: none;
        position:relative;
    }

    .slider-box img{
        width: 100%;
        height: 100vh;
    } 
    @keyframes slide {
        0% { margin-left: 0; }
        20% { margin-left: 0; }

        25% { margin-left: -100%;}
        45% { margin-left: -100%;}

        50% { margin-left: -200%;}
        70% { margin-left: -200%;}

        75% { margin-left: -300%;}
        100% { margin-left: -300%;}
    }    
    .sec1{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 28%;
        margin-top: 22%;
    }
    .sec1 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left:0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec1 img:hover{
        transform: scale(1.1);
    }
    .sec2{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 2.5%;
    }
    .sec2 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec2 img:hover{
        transform: scale(1.1);
    } 
    .sec3{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-left: 53%;
    }
    .sec3 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec3 img:hover{
        transform: scale(1.1);
    }
    .sec4{
        background-color: #fff;
        display: flex;
        bottom: 1.5em;
        position: absolute;
        height: 40vh;
        width: 20vw;
        border-radius: 5%;
        margin-top: 22%;
        margin-left: 77.5%;
    }
    .sec4 img{
        display: grid;
        place-items: center;
        height: 95%;
        width: 95%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border-radius: 5%;
    }
    .sec4 img:hover{
        transform: scale(1.1);
    }
}   
/* menu de navegacion*/
.nav ul{
    list-style: none; 

}
.header .nav ul li { 
    float: left;
    position: relative;
}
.header .nav ul li a{ 
    font-family: hola;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding: 18px; /*  espaciado entre el menu fijo*/
    display: flex;
    transition: all .2s ease;
}
.header .nav ul li a:hover {
    background-color: #51829C; 
}   
/*SUBMENU */
.header .nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #2a6a7a;
    position: absolute;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);  
    z-index: 10;   
    transition: all 300ms ease;   
} 
.header .nav ul li:hover ul { 
    visibility: visible;
    opacity: 1;
    position: absolute; 

}
.nav ul li ul li a {
    display: block;
    color: #0099E9;
    padding: 6px; 
    padding-left: 14px;
    margin-top: 10px;
    font-size: 114px; 
    transition: all 300ms ease;
} 
.nav ul li ul li a:hover{
    background-color: #0099E9;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}

#toggle,

.header label {
    display: none;
    cursor: pointer;    
}

.header label img{
    height: 30px;
    width: 30px;
    color: rgb(255, 255, 255);
} 

@media(max-width:1080px){
    .header label{ 
        display: initial;    
        left: 0;  
    }
    .header{
        padding: 5px 5.7%;  /* modificar  con esto quedo fijo el header con las opciones*/
        left: 0;
        position: absolute;
    }

    .header .nav{
        position: absolute;
        top: 100%;                  
        left: 0;
        background-color: rgba(1, 1, 1, 0.5);
        display: none; 
        width: 100%;
    }   
    .header .nav ul li{
        width: 100%;

    }
    .header .nav ul li a{
        font-family: hola;
        padding: 6px 30px 6px 7%;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        display: block;
        transition: all .2s ease;
    } 
    /*SUBMENU*/
    .header .nav ul li ul {
        position: absolute;
        left: 4em;
        
    } 
    .header .nav ul li ul li{
        position: relative;
    } 
    .header .nav ul li:hover ul { 
        visibility: visible;
        opacity: 1;
        display: absolute; 
       

    }
    .header .nav ul li ul li a{
        display: block;
        padding: 5px; 
        text-decoration: none;;;

    }
    
    #toggle:checked ~ .nav{ 
        display: block;
        left: 0;
    }   
}

body{
    font-family: hola;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: lightgrey;
    font-family: sans-serif;
    padding: 0; 
    overflow: hidden;
}   